body {
    background-image: url("../assets/img/bg2.png");
    background-repeat: repeat;
    background-size: 30% 30%;
    /* background-blend-mode: overlay; */
}

.faq-form-padding {
    width: 100%;
    height: 56px;
}
.first-footer {
    font-weight: 500;
}

.second-footer--img {
    gap: 16px;
}
#slider img {
    width: 500px;
    height: 400px;
}
