body{
    background-image: url("../assets/img/bg2.png");
    background-repeat: repeat;
    background-size: 30% 30%;
    /* background-blend-mode: overlay; */
}

.faq-form-padding{
    width: 100%; height: 56px; 
}
.first-footer {
    font-weight: 500;
}

.second-footer--img {
    gap: 16px;
}
#slider img {
    width: 500px;
    height: 400px;
}

@media screen and (max-width: 576px){
    .navbar-text{
        font-size: 13px;
    }
}

@media screen and (max-width: 576px){
    .nav-button{
        font-size: 12px;
        /* width: 90px;
        height: 35px; */
    }
}